/*
 *
 * Responsive
 *
 */
@media screen and (min-width: 400px) {
  footer {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 700px) {
  .header {
    margin: 0 auto 35px;
    justify-content: space-between;
    text-align: left;
  }

  .header-logo {
    margin-top: 10px;
  }

  .header-name {
    margin-right: 10px;
  }

  .header-subtitle {
    margin-right: 10px;
    text-align: right;
  }

  .featured-header {
    text-align: left;
  }

  .header,
  .featured-container {
    display: flex;
    max-width: 1400px;
  }

  .featured-container {
    margin: 0 auto;
  }

  .featured-item {
    margin: 5px 15px 15px 0;
  }

  .featured-item:last-child {
    margin-right: 0;
  }
}
